@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcfdf2;
  font-family: "Acme", serif;
  font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 90px;
}
.navbar img {
  width: 59%;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 110px;
  margin-top: 3px;
}
.navlinks {
  display: flex;
  align-items: center;
  position: relative;
  right: 100px;
}
.navlinks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(69 92 232);
  transition: all 0.3s ease-in-out;
}
.navlinks a:hover {
  color: rgb(117, 133, 238);
  border-bottom: 2px solid rgb(69 92 232);
}

.fancy-stuff {
  border: none;
  margin-top: 2%;
  box-shadow: 0px 0px 3px rgba(188, 175, 175, 0.5);
}
.marques {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marques img {
  width: 80px;
  margin-right: 60px;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  /* background-color: crimson;  */
}
.btns{
  margin-top: 43px;
}
.hero-container  button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 200px;
  /* /* margin: auto; */
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.hero-container  button:hover {
  background-color: #333;
}

.first {
  flex: 1;
  /* background-color: chartreuse; */
  padding: 20px 30px;
  align-content: center;
}
.first h2 {
  position: relative;
  /* bottom: 80px; */
  font-size: 70px;
  color: #6c89d2;
}
.first p {
  position: relative;
  /* bottom: 50px; */
  font-size: 30px;
  font-weight: 100;
}
.second {
  flex: 1;
  /* background-color: rgb(0, 26, 255); */
}
.second img {
  position: relative;
  top: 50px;
  height: 70%;
  transition: transform 0.3s ease, scale 0.3s ease;
}

.second img:hover {
  transform: rotate(15deg);
  scale: 1.1;
}
.collections {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  width: 80%;
  margin: auto;
}
.collections h3 {
  font-size: 50px;
  color: #6c89d2;
}
.collections p {
  font-size: 13px;
  letter-spacing: 2px;
  margin: 12px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.collections-grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.grid-image img {
  height: 230px;
  transition: transform 0.4s ease-in-out;
}
.grid-image img:hover {
  transform: scale(1.2);
}

.grid-title {
  position: relative;
  /* top: -17px; */
}
.grid-title h1 {
  /* margin-top: 2px; */
  font-size: 19px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.grid-title p {
  color: #6c89d2;
}




.poster {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  height:500px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 20px;
  background-color: #e4f3f2;
}

.col {
  flex: 1; /* Columns take equal width */
  text-align: center;
}
.poster-image{
  background-image: url('images/poster.jpg');
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0px 80px;
  margin-right: 0px;
  padding: 20px;
}

.info p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  /* margin-bottom: 10px; */
  color: #333;
}

.info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
  line-height: 1.2;
  color: #646bd6;
}

.info .infop {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 30px;
}

.info button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 300px;
  /* margin: auto;
  margin-top: 0px; */
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.info button:hover {
  background-color: #333;
}

/* 
.poster2{
  background-image: url('images/background.jpg');
  height: 400px;
  width: 100%;
  margin-bottom: 100px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.poster2 img{
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
} */



.poster2 {
  background-image: url(images/background-removebg-preview.png);
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: moveImage 60s linear infinite;
}
@keyframes moveImage {
  0% {
    background-position: -100% center; /* Start the background off-screen to the left */
  }
  100% {
    background-position: 100% center; /* Move the background off-screen to the right */
  }
}
.poster2 img {
  height: 900px;
  width: auto;
  position: relative;
  bottom: 250px;
  transition: transform 0.3s ease-in-out;
}

.email {
  color: #8489db;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Segoe UI';
  margin-bottom: 20px;

}

.email h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.email input[type="email"] {
  padding: 10px;
  width: 30%;
  font-size: 16px;
  margin-bottom: 10px;
  color:#8489db;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin: auto;
}

.email input[type="email"]:focus {
  border-color: #8489db;
}

.email input[type="submit"] {
  padding: 10px 20px;
  background-color: #8489db;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  align-self: center;
}

.email input[type="submit"]:hover {
  background-color: #7077c7;
}


.footer {
  /* background-color: #333; */
  color: rgb(152, 144, 233);
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

